* {
    box-sizing: border-box;
}

@keyframes show {
    0% {
        -ms-transform: scaleY(0) translateY(-100%);
        transform: scaleY(0) translateY(-100%)
    }
    20% {
        -ms-transform: scaleY(0) translateY(-50%);
        transform: scaleY(0) translateY(-50%)
    }
    50% {
        -ms-transform: scaleY(1) translateY(20%);
        transform: scaleY(1) translateY(20%)
    }
    100% {
        -ms-transform: scaleY(.8) translateY(0%);
        transform: scaleY(.8) translateY(0%)
    }
    100% {
        -ms-transform: scaleY(1) translateY(0);
        transform: scaleY(1) translateY(0)
    }
}

body {
    font-size: 14px;
    line-height: 21px;
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
    color: #333333;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: #000000;
}

.main-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, .2);
}

.main-header {
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.main-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

.main-navigation a {
    width: 240px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #000000;
}

.main-navigation a:nth-of-type(2) {
    margin-right: 240px;
}

.main-navigation a:hover {
    color: #81b3d2
}

.main-navigation a:active {
    color: #b2b2b2;
}

.main-navigation .active {
    color: #806d61;
}

.main-navigation .active:hover {
    color: #604d41;
}

.main-navigation .active:active {
    color: #d5cfcb;
}

.main-header .logo {
    position: absolute;
    z-index: 20;
    top: 0px;
    left: 50%;
    width: 138px;
    margin-left: -69px;
}

.main-poster {
    position: relative;
    z-index: 1;
    min-height: 509px;
    background: #3d4c57 url(../img/main-poster.jpg) no-repeat 50% 28%;
    background-size: cover;
}

.main-poster::after {
    content: "";
    position: absolute;
    z-index: 20;
    left: 0;
    right: 0;
    bottom: 0;
    height: 57px;
    background: transparent url(../img/main-poster-mask.png) no-repeat 0 50%;
    background-size: 100% 57px;
    border-bottom: none;
}

.main-poster-slogan {
    content: "";
    position: absolute;
    z-index: 20;
    top: 76px;
    left: 50%;
    margin-left: -229px;
}

.intro {
    width: 100%;
    padding-top: 61px;
    padding-bottom: 38px;
    line-height: 24px;
    text-align: center;
}

.intro >h2 {
    margin-top: 0;
    margin-right: 380px;
    margin-bottom: 30px;
    margin-left: 380px;
}

.intro p {
    font-size: 14px;
}

.features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
    background-color: #82b5d3;
    color: #ffffff;
}

.reasons {
    text-align: center;
    padding-top: 54px;
    padding-bottom: 52px;
}

.reasons h2 {
    margin-top: 0;
    margin-right: 120px;
    margin-bottom: 25px;
    margin-left: 120px;
    width: 160px;
}

.reasons p {
    margin-top: 20px;
    margin-bottom: 0;
}

.reasons p:last-of-type {
    margin-left: 12.25%;
    margin-right: 12.25%;
}

.features-content >img {
    display: block;
}

.advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.advantages-item {
    position: relative;
    width: 33.33%;
    text-align: center;
}

.advantages-item h2 {
    margin-top: 0;
    margin-bottom: 23px;
}

.advantages-item:not(.reasons) {
    padding-top: 162px;
    padding-bottom: 68px;
}

.advantages-item:not(.reasons) p {
    padding-left: 14%;
    padding-right: 14%;
}

.advantages-item:not(.reasons)::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 57px;
    width: 76px;
    min-height: 76px;
    margin-left: -38px;
    background: transparent url(../img/sprites-icons.png) no-repeat;
}

.advantages-item.advantages-item-housing::before {
    background-position: 0 -305px;
}

.advantages-item.advantages-item-food::before {
    background-position: 0 0;
}

.advantages-item.advantages-item-souvenirs::before {
    background-position: 0 -153px;
}

.advantages-item.reasons {
    background-color: #efefef;
    padding-top: 47px;
    padding-bottom: 59px;
}

.advantages-item.reasons h2 {
    margin-bottom: 25px;
}

.choose-hotel {
    width: 100%;
    margin-top: 57px;
    padding-left: 316px;
    padding-right: 316px;
    line-height: 24px;
    text-align: center;
}

.choose-hotel h3 {
    font-size: 30px;
    font-weight: 700;
}

.choose-hotel p {
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 48px;
}

.choose-hotel a {
    width: 568px;
    margin: 0 auto;
    font-size: 21px;
    font-weight: 700;
    display: block;
    padding: 30px;
    background-color: #766357;
    color: #ffffff;
}

.popup {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.form-popup {
    content: "";
    position: absolute;
    display: none;
    z-index: 5;
    left: 50%;
    top: 0;
    width: 568px;
    margin-left: -284px;
    padding: 55px;
    box-shadow: 0 10px 15px 0 rgba( 0, 0, 0, .15);
    background-color: #ffffff;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
}

.form-popup-show {
    display: block;
    -webkit-animation: show 0.75s forwards;
    animation: show 0.75s forwards;
}

.form-row {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-bottom: 26px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}

.form-label {
    vertical-align: middle;
    line-height: 41px;
    margin-right: auto;
}

.form-row >input {
    border: none;
    color: #000000;
    background-color: #f2f2f2;
}

.form-input-date {
    width: 346px;
    padding-left: 15px;
    border: 2px solid #e5e5e5;
}

.form-input-date:hover {
    padding-left: 13px;
    background-color: #ebebeb;
    border: 2px solid #ebebeb;
}

.form-input-date:focus {
    padding-left: 13px;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

.icon-calendar {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    width: 39px;
    height: 38px;
    background: transparent -140px -88px url("../img/sprites-icons-other.png") no-repeat;
}

.icon-calendar:hover {
    background-position: -172px -88px;
}

.icon-calendar:active {
    background-position: -203px -88px;
}

.counter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border: none;
}

.counter:first-of-type {
    width: 226px;
    margin-right: 53px;
}

.counter:last-of-type {
    width: 179px;
}

.form-input-counter,
button.icon-minus,
button.icon-plus {
    width: 38px;
    border: none;
    color: #000000;
    background-color: #f2f2f2;
    text-align: center;
}

button.icon-minus,
button.icon-plus {
    background-image: url(../img/sprites-icons-other.png);
}

button.icon-minus {
    background-position: -96px 7px;
}

button.icon-minus:hover {
    background-position: -96px -25px;
}

button.icon-minus:active {
    background-position: -96px -57px;
}

button.icon-plus {
    background-position: -126px 7px;
}

button.icon-plus:hover {
    background-position: -126px -25px;
}

button.icon-plus:active {
    background-position: -126px -57px;
}

.popup .btn {
    width: 458px;
    margin-top: 26px;
    padding-top: 15px;
    padding-bottom: 16px;
    background-color: #82b5d3;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
}

.popup .btn:hover {
    background-color: #669ec0;
}

.popup .btn:active {
    background-color: #5496bd;
    color: #88b6d1;
}

.popup iframe {
    position: relative;
    z-index: 1;
    width: 100%;
    min-height: 593px;
    border: none;
    background: #81b3d2 url(../img/map.png) no-repeat;
}

.main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 37px;
    padding-bottom: 36px;
    text-align: center;
    background-color: #ffffff;
}

.footer-map {
    position: absolute;
    z-index: 3 ;
    bottom: 0; 
    left: 0; 
    right: 0; 
    opacity: 0.9;
}

.main-footer .footer-hashtag {
    width: 33.33%;
    font-size: 21px;
    font-weight: bold;
}

.main-footer .footer-socials {
    width: 33.33%;
}

.footer-socials a {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 46px;
    min-height: 48px;
    padding-top: 14px;
    padding-bottom: 13px;
    margin-right: 2px;
    font-size: 0;
    background-color: #81b3d2;
}

.footer-socials a:last-of-type {
    margin-right: 0;
}

.footer-socials a:hover {
    position: relative;
    background-color: #669ec0;
}

.footer-socials a:active {
    position: relative;
    background-color: #5496bd;
}

.social-btn::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 20px;
    top: 50%;
    left: 50%;
    margin-left: -11px;
    margin-top: -10px;
    background: url(../img/sprites-icons-other.png) no-repeat;
}

.social-btn-tw::before {
    background-position: -170px 0;
}

.social-btn-tw:active::before {
    background-position: -211px 0px;
}

.social-btn-fb::before {
    background-position: -170px -34px;
}

.social-btn-fb:active::before {
    background-position: -212px -34px;
}

.social-btn-yt::before {
    background-position: -172px -67px;
}

.social-btn-yt:active::before {
    background-position: -211px -67px;
}

.footer-copyright {
    width: 33.33%;
    vertical-align: middle;
    margin-top: 2px;
}

.footer-copyright span {
    padding-left: 13px;
}

.footer-copyright a {
    display: inline-block;
    vertical-align: inherit;
    width: 124px;
    height: 42px;
    margin-left: 4px;
    background: 0 -198px no-repeat url("../img/sprites-logo-htmlacademy.png");
}

.footer-copyright a:hover {
    background: 0 -99px no-repeat url("../img/sprites-logo-htmlacademy.png");
}

.footer-copyright a:active {
    background: 0 0 no-repeat url("../img/sprites-logo-htmlacademy.png");
}

.filters {
    padding-top: 28px;
    padding-bottom: 7px;
    color: #ffffff;
    background: #46525c url(../img/bg-hotels-filters.jpg) no-repeat 0 50%;
    background-size: cover;
}

.filters-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.options >h2,
.filter-cost >h2 {
    font-size: 16px;
}

.options >ul {
    list-style: none;
    text-align: left;
    padding-left: 0;
}

.options {
    width: 25%;
    padding-left: 27px;
}

.options:first-of-type {
    padding-left: 72px;
}

.options >h2 {
    margin-top: 0;
    margin-bottom: 24px;
}

.form-label-chb {
    position: relative;
    display: block;
    margin-bottom: 25px;
    margin-left: 40px;
    cursor: pointer;
}

input + .form-label-chb::before {
    content: "";
    position: absolute;
    top: 0;
    left: -40px;
    width: 25px;
    min-height: 21px;
    background: -7px -8px no-repeat url(../img/sprites-icons-other.png);
}

input:checked + .form-label-chb::before {
    background: -49px -8px no-repeat url(../img/sprites-icons-other.png);
}

input:disabled + .form-label-chb::before {
    background: -11px -10px no-repeat url(../img/sprites-checkbox-disabled.png);
}

input:checked:disabled + .form-label-chb::before {
    background: -11px -52px no-repeat url(../img/sprites-checkbox-disabled.png);
}

input.form-checkbox {
    display: none;
    margin: 0;
    padding: 0;
}

.filter-cost {
    width: 50%;
    padding-left: 200px;
    padding-right: 72px;
}

.filter-cost >h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.cost-input {
    position: relative;
    margin-left: 10px;
    margin-bottom: 20px;
    padding-top: 3px;
    padding-bottom: 4px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    font-size: 0;
    background-color: transparent;
    
}

.cost-input::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 5px;
    width: 2px;
    height: 21px;
    margin-left: -1px;
    background-color: #ffffff;
}

.cost-input label {
    display: inline-block;
    vertical-align: top;
    padding-left: 65px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}

.cost-input label:last-of-type {
    padding-left: 70px;
}

.cost-input-max,
.cost-input-min {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.cost-input input {
    width: 60px;
    padding-left: 5px;
    margin: 0;
}

.range {
    position: relative;
    margin-left: 10px;
    margin-bottom: 32px;
}

.scale-slider {
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
}

.bar {
    width: 80%;
    height: 2px;
    background-color: #ffffff;
}

.scale-slider-min,
.scale-slider-max {
    content: "";
    position: absolute;
    top: -8px;
    padding: 2px;
    border: 8px solid #fff;
    border-radius: 50%;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.scale-slider-min:hover,
.scale-slider-max:hover {
    background-color: #1c4f80;
}

.scale-slider-min {
    left: 0;
}

.scale-slider-max {
    left: 80%;
}

.filter-cost >button {
    width: 139px;
    margin-left: 93px;
    padding-top: 6px;
    padding-bottom: 5px;
    padding-left: 10px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    background-color: transparent;
    text-transform: uppercase;
}

.filter-cost >button:hover {
    color: #000000;
    background-color: #ffffff;
}

.search-results {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 12px;
    padding-right: 72px;
    padding-left: 72px;
    padding-bottom: 12px;
    border-bottom: 1px solid #e5e5e5;
}

.search-results h3 {
    font-size: 21px;
    width: 164px;
}

.sort-type,
.search-results {
    font-size: 12px;
}

.search-results ul {
    margin-top: 12px;
    list-style: none;
}

.sort-list {
    width: 770px;
}

.sort-list li {
    display: inline-block;
    vertical-align: top;
    padding-right: 29px;
}

.sort-list a {
    color: #b1b1b1;
    border-bottom: 1px dotted #81b3d2;
}

.sort-list a:hover {
    color: #81b3d2;
}

.sort-list a:active {
    color: #000000;
    border: none;
}

.sort-list .active {
    color: #81b3d2;
    border-bottom: none;
}

.sort-list .active:hover {
    color: #81b3d2;
    border-bottom: none;
}

.sort-list .active:active {
    color: #81b3d2;
    border-bottom: none;
}

.sort-order {
    width: 47px;
}

.sort-order a {
    display: inline-block;
    width: 21px;
    vertical-align: top;
}

.icon-up,
.icon-down {
    min-height: 20px;
    width: 21px;
    text-align: center;
    background-image: url(../img/sprites-icons-other.png);
}

.icon-up {
    background-position: -2px -40px;
}

.icon-up:hover {
    background-position: -2px -68px;
}

.icon-up:active {
    background-position: -2px -96px;
}

.icon-up .active {
    background-position: -2px -98px;
}

.icon-up.active:hover {
    background-position: -2px -98px;
}

.icon-up.active:active {
    background-position: -2px -98px;
}

.icon-down {
    background-position: -41px -98px;
}

.icon-down:hover {
    background-position: -41px -69px;
}

.icon-down:active {
    background-position: -41px -98px;
}

.icon-down .active {
    background-position: -41px -98px;
}

.icon-down.active:hover {
    background-position: -41px -98px;
}

.icon-down.active:active {
    background-position: -41px -98px;
}

.catalog-list {
    padding-top: 30px;
    padding-bottom: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
}

.catalog-photo {
    width: 237px;
    padding-left: 72px;
}

.catalog-item {
    width: 781px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 90px;
}

.catalog-item-title:hover {
    color: #81b3d2;
}

.catalog-item-title:active {
    color: #c7c7c7;
}

.catalog-item >h1 {
    margin-top: -3px;
    margin-bottom: 0px;
    width: 100%;
    font-size: 21px;
    font-weight: 700;
}

.catalog-action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.catalog-action-detailed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.catalog-action-detailed span {
    padding-top: 0px;
    padding-bottom: 13px;
}

.catalog-action-detailed >.btn {
    width: 110px;
    margin-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    background-color: #81b3d2;
}

.catalog-action-detailed >.btn:hover {
    background-color: #669ec0;
}

.catalog-action-detailed >.btn:active {
    color: #88b6d1;
    background-color: #5496bd;
}

.catalog-action-detailed >.btn-order {
    width: 142px;
    background-color: #766357;
}

.catalog-action-detailed >.btn-order:hover {
    background-color: #604e43;
}

.catalog-action-detailed >.btn-order:active {
    color: #857871;
    background-color: #503e33;
}

.catalog-raiting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    width: 182px;
    padding-right: 72px;
    margin-top: -6px;
}

.raiting {
    width: 106px;
    min-height: 25px;
    background-image: url(../img/icon-star.png);
    background-position: right;
}

.raiting[data-rating="5"] {
    width: 106px;
}

.raiting[data-rating="4"] {
    width: 88px;
}

.raiting[data-rating="3"] {
    width: 66px;
}

.raiting[data-rating="2"] {
    width: 44px;
}

.raiting[data-rating="1"] {
    width: 22px;
}

.catalog-raiting span {
    min-width: 103px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-right: 12px;
    padding-bottom: 5px;
    padding-left: 8px;
    background-color: #f2f2f2;
    white-space: nowrap;
}