* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    line-height: 21px;
    font-family: 'PT Sans', Arial, sans-serif;
    text-transform: uppercase;
    color: #333333;
    background: #f2f2f2;
}

a {
    text-decoration: none;
    color: #000000;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
}

.main-header {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.main-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-left: 72px;
    margin-right: 72px;*/
    margin-top: 15px;
    margin-bottom: 15px;
}

.main-navigation >a {
    width: 20%;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
}

.main-header a:nth-of-type(2) {
    text-align: left;
    margin-right: 15px;
}

.main-header a:nth-of-type(3) {
    text-align: right;
}

.main-header .logo {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 50%;
    width: 138px;
    height: 70px;
    margin-left: -69px;
}

.main-poster {
    position: relative;
    height: 510px;
    background: #3d4c57 url(../img/main-poster.jpg) no-repeat 50% 30%;
    background-size: cover;
}

.main-poster::after {
    content: '';
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
    height: 57px;
    background: transparent url(../img/main-poster-mask.png) no-repeat 0 50%;
    background-size: 100% 57px;
}

.main-poster-slogan {
    position: absolute;
    z-index: 1;
    top: 72px;
    left: 50%;
    margin-left: -229px;
}

.intro {
    padding-top: 61px;
    padding-bottom: 38px;
    padding-left: 355px;
    padding-right: 355px;
    line-height: 24px;
    text-align: center;
}

.intro >h2 {
    margin-bottom: 28px;
}

.intro p {
    font-size: 14px;
}

.features {
    display: flex;
    background-color: #82b5d3;
    color: #ffffff
}

.features-content {
    height: 256px;
    overflow: hidden;
    text-align: center;
}

.features-content >h2 {
    /* margin-top: 53px;
    margin-left: 90px;
    margin-right: 90px;*/
    line-height: 21px;
}

.features-content p {
    /*  margin-left: 60px;
    margin-right: 60px; */
}

.features-content >img {
    /*! order: -1; */
    margin-top: -72px;
    margin-right: 45px;
    min-width: 100%;
    /*! height: auto; */
}

.advantages {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 65px;
}

.advantages-item {
    flex-grow: 1;
    text-align: center;
}

.choose-hotel {
    margin-top: 57px;
    padding-left: 316px;
    padding-right: 316px;
    line-height: 24px;
    text-align: center;
}

.choose-hotel > h3 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom:
}

.choose-hotel p {
    margin-left: 67px;
    margin-right: 67px;
    margin-bottom: 48px;
}

.choose-hotel a {
    width: 568px;
    margin: 0 auto;
    font-size: 21px;
    font-weight: 700;
    display: block;
    padding: 30px;
    background-color: #766357;
    color: #ffffff;
}

.popup {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup form {
    width: 568px;
    margin: 0 auto;
    padding: 55px;
}

.popup .form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 0;
    border: none;
    font-weight: 700;
    text-align: left;
}

.form-row >input {
    border: none;
    color: #ababab;
    background-color: #f2f2f2;
}

.form-label {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    max-width: 92px;
    font-size: 14px;
    line-height: 41px;
}

.form-input-date {
    width: 343px;
    height: 38px;
    padding-left: 15px;
    padding-right: 0px;
    margin-right: 0px;
}

.counter {
    display: flex;
    justify-content: flex-end;
    width: 49%;
    border: none;
}

.form-input-counter,
button.icon-minus,
button.icon-plus {
    height: 38px;
    width: 38px;
    border: none;
    color: #ababab;
    background-color: #f2f2f2;
    text-align: center;
}

.btn {
    width: 458px;
    height: 58px;
    background-color: #82b5d3;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
}

.popup iframe {
    width: 100%;
    height: 593px;
    border: none;
    background-image: url(../img/map.png);
}

.main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 132px;
    padding-right: 103px;
}

.main-footer .footer-hashtag {
    font-size: 21px;
}

.main-footer.footer-socials ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0
}

.footer-socials li {
    display: inline-block;
    vertical-align: top;
    margin: 6px 3px
}


/* пока так*/

.footer-copyright {
    min-width: 33%;
    min-height: 39px;
    text-align: right;
    vertical-align: middle;
    background: url("../img/sprites-logo-htmlacademy.png") no-repeat;
}

.filters {
    padding: 29px 72px;
    color: #fff;
    background: #46525c url(../img/bg-hotels-filters.jpg) no-repeat 0 50%;
    background-size: cover;
}

.filters-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
}

.options >h2,
.filter-cost >h2 {
    font-size: 16px;
}

.options >ul {
    list-style: none;
    text-align: left;
    padding-left: 0;
}

.options {
    padding-right: 115px;
}

.filter-cost {
    padding-left: 210px;
}

.filter-cost >h2 {
    padding-bottom: 11px;
}

.cost-input-max,
.cost-input-min {
    width: 156px;
    height: 32px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    background-color: transparent;
    text-align: center;
}

.filter-cost >button {
    width: 137px;
    height: 36px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    background-color: transparent;
}

.search-results {
    display: flex;
    align-items: center;
    padding-top: 11px;
    padding-right: 72px;
    padding-left: 72px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}

.search-results h3 {
    font-size: 21px;
    padding-right: 49px;
}

.sort-type,
.search-results {
    font-size: 12px;
}

.search-results ul {
    list-style: none;
}

.search-results li {
    display: inline-block;
    vertical-align: top;
    padding-right: 31px;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.catalog-list {
    padding-top: 30px;
    padding-right: 72px;
    padding-bottom: 26px;
    padding-left: 72px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
}

.catalog-photo {
    padding-right: 30px;
}

.catalog-item {
    display: flex;
    flex-wrap: wrap;
    max-height: 90px;
    padding-right: 300px;
}

.catalog-item >h1 {
    margin: 0;
    padding-top: -4px;
    width: 100%;
    font-size: 21px;
    font-weight: 700;
}

.catalog-action {
    display: flex;
    flex-direction: row;
}

.catalog-action-detailed {
    display: flex;
    flex-direction: column;
}

.catalog-action-detailed span {
    padding-top: 7px;
    padding-bottom: 10px;
}

.catalog-action-detailed >.btn {
    width: 110px;
    height: 27px;
    margin-right: 6px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
}

.catalog-action-detailed >.btn-order {
    width: 142px;
    background-color: #766357;
}

.raiting {
    width: 89px;
    height: 25px;
    background-image: url(../img/icon-star.png);
    background-position: right;
}

.catalog-raiting span {
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    background-color: #f2f2f2;
    ;
}