* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    line-height: 21px;
    font-family: 'PT Sans', Arial, sans-serif;
    text-transform: uppercase;
    color: #333333;
    background: #f2f2f2;
}

a {
    text-decoration: none;
    color: #000000;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
}

.main-header {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.main-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

.main-navigation a {
    width: 240px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #000000;
}

.main-navigation a:nth-of-type(2) {
    margin-right: 240px;
}

.main-navigation a:hover {
    color: #81b3d2
}

.main-navigation a:active {
    color: #b2b2b2;
}

.main-navigation .active {
    color: #806d61;
}

.main-navigation .active:hover {
    color: #604d41;
}

.main-navigation .active:active {
    color: #d5cfcb;
}

.main-header .logo {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 50%;
    width: 138px;
    height: 70px;
    margin-left: -69px;
}

.main-poster {
    position: relative;
    height: 510px;
    background: #3d4c57 url(../img/main-poster.jpg) no-repeat 50% 30%;
    background-size: cover;
}

.main-poster::after {
    content: " ";
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
    height: 57px;
    background: transparent url(../img/main-poster-mask.png) no-repeat 0 50%;
    background-size: 100% 57px;
}

.main-poster-slogan {
    position: absolute;
    z-index: 1;
    top: 76px;
    left: 50%;
    margin-left: -229px;
}

.intro {
    width: 100%;
    padding-top: 61px;
    padding-bottom: 38px;
    line-height: 24px;
    text-align: center;
}

.intro >h2 {
    margin-top: 0;
    margin-right: 380px;
    margin-bottom: 30px;
    margin-left: 380px;
}

.intro p {
    font-size: 14px;
}

.features {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    background-color: #82b5d3;
    color: #ffffff;
}

.reasons {
    text-align: center;
    padding-top: 53px;
    padding-bottom: 52px;
}

.reasons h2 {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 22px;
    margin-left: auto;
    width: 160px;
}

.reasons p {
    margin-top: 24px;
    margin-bottom: 0;
}

.reasons p:last-of-type {
    margin-left: 12.25%;
    margin-right: 12.25%;
}

.features-content >img {
    display: block;
}

.advantages {
    display: flex;
    justify-content: center;
}

.advantages-item {
    position: relative;
    width: 33.33%;
    text-align: center;
}

.advantages-item h2 {
    margin-top: 0;
    margin-bottom: 22px;
}

.advantages-item:not(.reasons) {
    padding-top: 162px;
    padding-bottom: 69px;
}

.advantages-item:not(.reasons) p {
    padding-left: 14%;
    padding-right: 14%;
}

.advantages-item:not(.reasons)::before {
    content: " ";
    position: absolute;
    left: 50%;
    top: 53px;
    width: 76px;
    height: 76px;
    margin-left: -38px;
    background: transparent url(../img/sprites-icons.png) no-repeat;
}

.advantages-item.advantages-item-housing::before {
    background-position: 0 -304px;
}

.advantages-item.advantages-item-food::before {
    background-position: 0 0;
}

.advantages-item.advantages-item-souvenirs::before {
    background-position: 0 -152px;
}

.advantages-item.reasons {
    background-color: #efefef;
    padding-top: 46px;
    padding-bottom: 59px;
}

.choose-hotel {
    width: 100%;
    margin-top: 55px;
    padding-left: 316px;
    padding-right: 316px;
    line-height: 24px;
    text-align: center;
}

.choose-hotel > h3 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom:
}

.choose-hotel p {
    margin-left: 67px;
    margin-right: 67px;
    margin-bottom: 48px;
}

.choose-hotel a {
    width: 568px;
    margin: 0 auto;
    font-size: 21px;
    font-weight: 700;
    display: block;
    padding: 30px;
    background-color: #766357;
    color: #ffffff;
}

.popup {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup form {
    width: 568px;
    margin: 0 auto;
    padding: 55px;
    box-shadow-left: 0 0 15px 0 #dfdfdf;
}

.form-row {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 27px;
    font-weight: 700;
    text-align: left;
    font-size: 14px;
}

.form-label {
    vertical-align: middle;
    line-height: 41px;
    margin-right: auto;
}

.form-row >input {
    border: none;
    color: #000000;
    background-color: #f2f2f2;
}

.form-input-date {
    width: 346px;
    height: 38px;
    padding-left: 15px;
}

.form-input-date:hover {
    background-color: #ebebeb;
}

.form-input-date:active {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

.icon-calendar {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 39px;
    height: 38px;
    background: transparent -142px -86px url("../img/sprites-icons-other.png") no-repeat;
}

.icon-calendar:hover {
    background-position: -174px -86px;
}

.icon-calendar:active {
    background-position: -205px -86px;
}

.counter {
    display: flex;
    justify-content: space-between;
    border: none;
}

.counter:first-of-type {
    width: 226px;
    margin-right: 53px;
}

.counter:last-of-type {
    width: 179px;
}

.form-input-counter,
button.icon-minus,
button.icon-plus {
    height: 38px;
    width: 38px;
    border: none;
    color: #000000;
    background-color: #f2f2f2;
    text-align: center;
}

button.icon-minus,
button.icon-plus {
    background-image: url(../img/sprites-icons-other.png);
}

button.icon-minus {
    background-position: -99px 7px;
}

button.icon-minus:hover {
    background-position: -99px -25px;
}

button.icon-minus:active {
    background-position: -99px -57px;
}

button.icon-plus {
    background-position: -128px 7px;
}

button.icon-plus:hover {
    background-position: -128px -25px;
}

button.icon-plus:active {
    background-position: -128px -57px;
}

.popup .btn {
    width: 458px;
    height: 58px;
    margin-top: 24px;
    background-color: #82b5d3;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
}

.popup .btn:hover {
    background-color: #669ec0;
}

.popup .btn:active {
    background-color: #5496bd;
    color: #88b6d1;
}

.popup iframe {
    width: 100%;
    border: none;
    background-image: url(../img/map.png);
}

.main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 36px;
    text-align: center;
}

.main-footer .footer-hashtag {
    width: 33.33%;
    font-size: 21px;
}

.footer-hashtag a:hover {
    color: #81b3d2
}

.footer-hashtag a:active {
    color: #000;
    opacity: 0.3;
}

.main-footer .footer-socials {
    width: 33.33%;
}

.footer-socials a {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 46px;
    height: 48px;
    margin-right: 3px;
    font-size: 0;
    background: #81b3d2;
}

.footer-socials a:last-of-type {
    margin-right: 0;
}

.footer-socials a:hover {
    position: relative;
    background-color: #669ec0;
}

.footer-socials a:active {
    position: relative;
    background-color: #5496bd;
}

.social-btn::before {
    position: absolute;
    width: 22px;
    height: 20px;
    top: 50%;
    left: 50%;
    margin-left: -11px;
    margin-top: -10px;
    content: " ";
    background: url(../img/sprites-icons-other.png);
}

.social-btn-tw::before {
    background-position: -170px 0;
}

.social-btn-tw:active::before {
    background-position: -210px 0px;
}

.social-btn-fb::before {
    background-position: -170px -34px;
}

.social-btn-fb:active::before {
    background-position: -212px -34px;
}

.social-btn-yt::before {
    background-position: -172px -67px;
}

.social-btn-yt:active::before {
    background-position: -212px -67px;
}

.footer-copyright {
    width: 33.33%;
    vertical-align: middle;
    ;
}

.footer-copyright a {
    display: inline-block;
    vertical-align: inherit;
    width: 124px;
    height: 42px;
    margin-left: 8px;
    background: 0 -198px no-repeat url("../img/sprites-logo-htmlacademy.png");
}

.footer-copyright a:hover {
    background: 0 -99px no-repeat url("../img/sprites-logo-htmlacademy.png")
}

.footer-copyright a:active {
    background: 0 0 no-repeat url("../img/sprites-logo-htmlacademy.png")
}

.filters {
    padding-top: 29px;
    padding-bottom: 8px;
    color: #ffffff;
    background: #46525c url(../img/bg-hotels-filters.jpg) no-repeat 0 50%;
    background-size: cover;
}

.filters-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
}

.options >h2,
.filter-cost >h2 {
    font-size: 16px;
}

.options >ul {
    list-style: none;
    text-align: left;
    padding-left: 0;
}

.options {
    width: 25%;
    padding-left: 27px;
}

.options:first-of-type {
    padding-left: 72px;
}

.options >h2 {
    margin-top: 0;
    margin-bottom: 24px;
}

.form-label-chb {
    position: relative;
    display: block;
    margin-bottom: 24px;
    margin-left: 40px;
    cursor: pointer;
}

input + .form-label-chb::before {
    content: " ";
    position: absolute;
    top: 0;
    left: -40px;
    width: 23px;
    height: 21px;
    content: "";
    background: -7px -8px no-repeat url(../img/sprites-icons-other.png);
}

input:checked + .form-label-chb::before {
    content: " ";
    position: absolute;
    top: 0;
    left: -40px;
    width: 24px;
    height: 21px;
    background: -50px -8px no-repeat url(../img/sprites-icons-other.png);
}

input.form-checkbox {
    display: none;
    margin: 0;
    padding: 0;
}

.filter-cost {
    width: 50%;
    padding-left: 200px;
}

.filter-cost >h2 {
    margin-top: 0;
    margin-bottom: 11px;
}

.cost-input {
    position: relative;
    margin-left: 10px;
    width: 318px;
    height: 36px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    font-size: 0;
    background-color: transparent;
    text-align: center;
}

.cost-input::before {
    content: " ";
    position: absolute;
    left: 50%;
    top: 5px;
    width: 2px;
    height: 21px;
    margin-left: -1px;
    background: #ffffff;
}

.cost-input label {
    display: inline-block;
    width: 50%;
    padding-top: 5px;
    font-size: 14px;
    text-align: right;
    text-transform: uppercase;
}

.cost-input-max,
.cost-input-min {
    padding-left: 5px;
    border: none;
    color: #fff;
    background: transparent;
}

.cost-input-min {
    max-width: 50%;
}

.cost-input-max {
    max-width: 53%;
}

.range {
    position: relative;
    height: 2px;
    width: 318px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 30px;
    background-color: rgba (0, 0, 0, 0.3);
}

.scale-slider {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 14%;
    background: #ffffff;
}

.scale-slider-min,
.scale-slider-max {
    content: " ";
    position: absolute;
    top: -8px;
    padding: 2px;
    border: 8px solid #fff;
    border-radius: 50%;
    outline: none;
    background: #ababab;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.14);
    cursor: pointer;
}

.scale-slider:hover {
    background: #ffffff;
}

.scale-slider-min {
    left: 0;
}

.scale-slider-max {
    right: 0;
}

.filter-cost >button {
    width: 137px;
    height: 36px;
    margin-left: 93px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    background-color: transparent;
    text-transform: uppercase;
}

.filter-cost >button:hover {
    color: #000000;
    background-color: #ffffff;
}

.search-results {
    display: flex;
    align-items: center;
    padding-top: 13px;
    padding-right: 72px;
    padding-left: 72px;
    padding-bottom: 12px;
    border-bottom: 1px solid #e5e5e5;
}

.search-results h3 {
    font-size: 21px;
    width: 164px;
}

.sort-type,
.search-results {
    font-size: 12px;
}

.search-results ul {
    margin-top: 12px;
    list-style: none;
}

.sort-list {
    width: 770px;
}

.sort-list li {
    display: inline-block;
    vertical-align: top;
    padding-right: 29px;
}

.sort-list a {
    color: #b1b1b1;
    border-bottom: 1px dotted #81b3d2;
}

.sort-list a:hover {
    color: #81b3d2;
}

.sort-list a:active {
    color: #000000;
}

.sort-list .active {
    color: #81b3d2;
    border-bottom: none;
}

.sort-order {
    width: 47px;
}

.sort-order a {
    display: inline-block;
    width: 21px;
    height: 20px;
    vertical-align: top;
}

.icon-up,
.icon-down {
    height: 20px;
    width: 21px;
    text-align: center;
    background-image: url(../img/sprites-icons-other.png);
}

.icon-up {
    background-position: -2px -40px;
}

.icon-up:hover {
    background-position: -2px -69px;
}

.icon-up:active {
    background-position: -2px -98px;
}

.icon-down {
    background-position: -41px -98px;
}

.icon-down:hover {
    background-position: -41px -69px;
}

.icon-down:active {
    background-position: -41px -98px;
}

.catalog-list {
    padding-top: 30px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
}

.catalog-photo {
    width: 237px;
    padding-left: 72px;
}

.catalog-item {
    width: 781px;
    display: flex;
    flex-wrap: wrap;
    min-height: 90px;
}

.catalog-item-title:hover {
    color: #81b3d2;
}

.catalog-item-title:active {
    color: #c7c7c7;
}

.catalog-item >h1 {
    margin-top: -3px;
    margin-bottom: 0px;
    width: 100%;
    font-size: 21px;
    font-weight: 700;
}

.catalog-action {
    display: flex;
    flex-direction: row;
}

.catalog-action-detailed {
    display: flex;
    flex-direction: column;
}

.catalog-action-detailed span {
    padding-top: 0px;
    padding-bottom: 13px;
}

.catalog-action-detailed >.btn {
    width: 110px;
    height: 28px;
    margin-right: 6px;
    padding-top: 3px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    background-color: #81b3d2;
}

.catalog-action-detailed >.btn:hover {
    background-color: #669ec0;
}

.catalog-action-detailed >.btn:active {
    color: #88b6d1;
    background-color: #5496bd;
}

.catalog-action-detailed >.btn-order {
    width: 142px;
    background-color: #766357;
}

.catalog-action-detailed >.btn-order:hover {
    background-color: #604e43;
}

.catalog-action-detailed >.btn-order:active {
    color: #857871;
    background-color: #503e33;
}

.catalog-raiting {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 182px;
    padding-right: 72px;
    margin-top: -6px;
}

.raiting {
    width: 106px;
    height: 25px;
    background-image: url(../img/icon-star.png);
    background-position: right;
}

.raiting[data-rating="5"] {
    width: 106px;
}

.raiting[data-rating="4"] {
    width: 88px;
}

.raiting[data-rating="3"] {
    width: 66px;
}

.raiting[data-rating="2"] {
    width: 44px;
}

.raiting[data-rating="1"] {
    width: 22px;
}

.catalog-raiting span {
    margin-bottom: 5px;
    padding-top: 5px;
    padding-right: 12px;
    padding-bottom: 5px;
    padding-left: 8px;
    background-color: #f2f2f2;
}